/* navbar */
nav {
  top: 0;
  left: 0;
  right: 0; 
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

nav h1 img {
  width: 100px;
}

nav ul {
  list-style: none;
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}

nav ul li a {
  font-size: 13px;
  color: var(--main);
  text-decoration: none;
}

nav div {
  display: flex;
  justify-content: space-evenly;
  width: 32%;
}

nav div span {
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav div span:nth-child(2) {
  padding: 0 15px;
  border-left: 1px solid rgba(209, 210, 212, 1);
  border-right: 1px solid rgba(209, 210, 212, 1);
  height: 35px;
}

nav div span:first-child img {
  margin-right: 5px;
}

nav div span:nth-child(2) img {
  width: 45px;
}

nav div span:last-child img {
  margin-left: 13px;
  width: 35px;
}

/* Banner */
header {
  width: 100%;
  height: 120px;
  padding-bottom: 20px !important;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--main);
  color: white;
}

/* Footer */
footer {
  padding: 15px 0;
  font-size: 14px;
  font-weight: 200;
  color: white;
  background-color: rgba(0, 94, 136, 1);
}

/* set profile css */
.card {
  border-radius: 8px;
  width: 60%;
  height: 480px;
  background-color: rgba(249, 254, 254, 1);
  margin: auto;
  margin-top: 40px;
  margin-bottom: 200px;
  filter: drop-shadow(0px 2px 89px rgba(65, 65, 65, 0.14));
  display: flex;
}

.menu {
  list-style: none;
  width: 36%;
  height: 100%;
  border-right: 1px solid #D1D2D4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 22px;
}

.list-menu {
  width:  60%;
  font-size: 13px;
  margin-top: 32px;
}

.form-profil {
  width: 100%;
  padding-top: 52px;
  display: flex;
  justify-content: center;
}

.sub-form-profil {
  width: 80%;
}

label {
  font-weight: bold;
  font-size: 14px;
}

tr, td {
  display: inline-block;
  width: 100%;
}

.form-profil-input {
  width: 100%;
  height: 38px;
  margin-top: 12px;  
  margin-bottom: 12px;
}

input {
  width: 100%;
  height: 100%;
  border: 1px solid #D1D2D4;
  border-radius: 8px;
  padding-left: 18px;
}

.btn {
  width: 130px;
  height: 38px;
  border-radius: 4px;
  background-color: var(--main);
  color: white;
  border: none;
}

/* poin css */

.cpoin {
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: center;
}

.cp {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.label {
  font-size: 13px;
  margin-top: 5px;
  color: #9FAAA9;
}

.label-on {
  color: var(--main);
}

.cp-on {
  border-bottom: 2px solid var(--main);
}

.cp:hover {
  cursor: pointer;
}
