/* navbar */
nav {
  top: 0;
  left: 0;
  right: 0; 
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

nav h1 img {
  width: 100px;
}

nav ul {
  list-style: none;
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}

nav ul li a {
  font-size: 13px;
  color: var(--main);
  text-decoration: none;
}

nav div {
  display: flex;
  justify-content: space-evenly;
  width: 32%;
}

nav div span {
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav div span:nth-child(2) {
  padding: 0 15px;
  border-left: 1px solid rgba(209, 210, 212, 1);
  border-right: 1px solid rgba(209, 210, 212, 1);
  height: 35px;
}

nav div span:first-child img {
  margin-right: 5px;
}

nav div span:nth-child(2) img {
  width: 45px;
}

nav div span:last-child img {
  margin-left: 13px;
  width: 35px;
}

/* Banner */
header {
  width: 100%;
  height: 120px;
  padding-bottom: 20px !important;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--main);
  color: white;
}

header h5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

/* Footer */
footer {
  padding: 15px 0;
  font-size: 14px;
  font-weight: 200;
  color: white;
  background-color: rgba(0, 94, 136, 1);
}

/* set profile css */
.card {
  border-radius: 8px;
  width: 60%;
  height: 480px;
  background-color: rgba(249, 254, 254, 1);
  margin: auto;
  margin-top: 40px;
  margin-bottom: 200px;
  filter: drop-shadow(0px 2px 39px rgba(65, 65, 65, 0.14));
  display: flex;
}

.menu {
  list-style: none;
  width: 36%;
  height: 100%;
  border-right: 1px solid #D1D2D4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 22px;
}

.list-menu {
  width:  60%;
  font-size: 13px;
  margin-top: 32px;
}

.form-profil {
  width: 100%;
  padding-top: 52px;
  display: flex;
  justify-content: center;
}

.sub-form-profil {
  width: 80%;
}

label {
  font-weight: bold;
  font-size: 14px;
}

tr, td {
  display: inline-block;
  width: 100%;
}

.form-profil-input {
  width: 100%;
  height: 38px;
  margin-top: 12px;  
  margin-bottom: 12px;
}

input {
  width: 100%;
  height: 100%;
  border: 1px solid #D1D2D4;
  border-radius: 8px;
  padding-left: 18px;
}

.btn {
  width: 160px;
  height: 38px;
  border-radius: 4px;
  background-color: var(--main);
  color: white;
  border: none;
}

.btn-out {
  width: 160px;
  height: 38px;
  border-radius: 4px;
  background-color: white;;
  color: var(--main);
  border: 1px solid var(--main);
}

/* poin css */

.cpoin {
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: center;
}

.cp {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.label {
  font-size: 13px;
  margin-top: 5px;
  color: #9FAAA9;
}

.label-on {
  color: var(--main);
}

.cp-on {
  border-bottom: 2px solid var(--main);
}

.cp:hover {
  cursor: pointer;
}

.card-ii {
  border-radius: 8px;
  width: 60%;
  background-color: rgba(249, 254, 254, 1);
  margin: auto;
  margin-top: 40px;
  margin-bottom: 200px;
  filter: drop-shadow(0px 2px 39px rgba(65, 65, 65, 0.14));
  padding: 30px;
}

.btn-wallet {
  border: 1px solid var(--main);
  padding: 5px 20px;
  color: var(--main);
  border-radius: 15px;
  margin-right: 10px;
}

.btn-ds {
  border: 1px solid var(--main);
  padding: 8px 13px;
  color: var(--main);
  border-radius: 4px;
  position: absolute;
  font-size: 14px;
  top: 20px;
  right: 20px;
}

.btn-ds:hover {
  cursor: pointer;
}

.on-btn-wallet {
  color: white !important;
  background-color: var(--main);
}

.wl {
  font-weight: 300;
}

.iw {
  width: 100%;
  height: 40px;
}

.btn-w {
  width: 100% !important;
  height: 40px !important;
  border: none !important;
  background-color: #D1D2D4;
  color: white;
  border-radius: 8px;
}

.card-poin {
  width: 105px;
  height: 80px;
  border-radius: 12px;
  background-color: #f5f5f5;
  color: #9FAAA9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-poin h5 {
  font-size: 20px;
}

.card-poin p {
  font-size: 13px;
}

.conin {
  display: flex;
  justify-content: space-between;
}

.b-ts {
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.sb-ts {
  width: 180px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  color: #9FAAA9;
}

.sb-ts-on {
  color: var(--main);
  border-bottom: 3px solid var(--main);
}

.card-iii {
  width: 60%;
  padding: 20px;
  position: relative;
  background-color: rgba(249, 254, 254, 1);
  margin: auto;
  margin-bottom: 20px;
  filter: drop-shadow(0px 2px 39px rgba(65, 65, 65, 0.14));
  padding: 30px;
}

.card-iv {
  width: 88%;
  padding: 20px;
  position: relative;
  background-color: rgba(249, 254, 254, 1);
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  filter: drop-shadow(0px 2px 39px rgba(65, 65, 65, 0.14));
  padding: 30px;
}

.ts-top {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #D1D2D4;
}

.sicontainer {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.sicontainer-ii {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.ts-bottom {
  width: 100%;
  padding-top: 20px;
}

.tp {
  display: inline-block;
  font-size: 13px;
  margin-bottom: 5px;
}

.ip {
  font-size: 13px;
  font-weight: bold;
}

.bstatusp {
  font-size: 13px;
  display: inline-block;
  width: 160px;
  height: 30px;
  border-radius: 15px;
  background-color: #F0AC0E;
  font-weight: 300;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bj {
  margin-top: 120px;
}

.sb-ts:hover {
  cursor: pointer;
}

.hover:hover {
  cursor: pointer;
}

.Link:hover {
  cursor: pointer;
}

.Link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.tahap-t {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

div.tahap-t span a {
  font-size: 10px;
  color: var(--main);
  margin-right: 18px;
}

div.tahap-t p {
  font-size: 11px;
  color: #5C5E6A;
}

/* detail */
.grid {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.gkiri, .gkanan {
  width: 49%;
}

.gkotak {
  width: 100%;
  padding: 10px 20px;
  border: 2px solid #D1D2D4;
  border-radius: 8px;
}

.g-spec {  
  display: flex;
  padding: 23.5px 20px !important;
  justify-content: space-between;
  align-items: center;
}

.dkode {
  display: inline-block;
  margin-top: 8px;
  font-size: 24px;
  font-weight: bold;
  color: #5C5E6A;
}

.tbiru {
  display: block;
  color: var(--main);
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 8px;
}

.txt {  
  margin-top: 4px;
  font-size: 12px;
  color: #9FAAA9;
  margin-bottom: 10px;
  margin-top: 10px;
}

.bjd {
  margin-top: 20px;
}

.fixin {
  display: flex;
  align-items: center;
}

.btn-resi {
  width: 140px;
  height: 38px;
  margin-left: 10px;
  background-color: #D1D2D4;
  color: white;
  border-radius: 8px;
  border: none;
}

.dager {
  text-decoration: underline;
  color: #FD2455;
}

.rapi {
  width: 340px;
  display: flex;
  justify-content: space-between;
}

/* dropdown */

.dropdown-profil {
  width: 160px;
  padding: 20px 13px;
  background-color: white;
  position: absolute;
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  box-shadow: 0px 2px 25px rgba(65, 65, 65, 0.14);
  bottom: -235px;
  right: 0;
  z-index: 99;
  filter: opacity(0);
  transform: translateY(-100px);
  transition: 0.3s;
}

ul.dropdown-profil li {
  margin-bottom: 20px;
  color: var(--main);
}

ul.dropdown-profil li .link:hover {
  color:  rgb(0, 95, 112);
}

ul.dropdown-profil li:last-child {
  margin-bottom: 0 !important;
  color: #FD2455 !important;
}

.p-dd {
  position: relative;
}

.p-dd:hover .dropdown-profil {
  filter: opacity(1);
  transform: translateY(0); 
}

/* content fix */
.c-fix {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e7e7e7;
  display: flex;
}

.sidebar {
  width: 330px;
  height: 100%;
  background-color: white;
  position: relative;
}

.main-fix {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 25px 40px;
}

.footer-fix {
  padding: 15px 0;
  font-size: 14px;
  font-weight: 200;
  color: white;
  background-color: #00A1BE;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.lfix {
  position: absolute;
  top: 30px;
  width: 50%;
  left: 20%;
}

.back-page {
  transform: translateX(-2px);
  color: var(--main);
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-top: 150px;
  margin-left: 20px;
  text-decoration: none;
}

.back-page:hover {
  cursor: pointer;
}

.arrv2 {
  width: 20px;
  margin-right: 7px;
}

.step-text {
  display: inline-block;
  color: #c0c0c0;
  font-size: 12px;
  margin-top: 50px;
  margin-left: 20px;
}

.step-by {
  margin-top: 20px;
}

.done-step {
  color: limegreen !important;
}

ul.step-by li {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
}

ul.step-by li span {
  font-size: 13px;
  color: var(--main);
}

ul.step-by li span:first-child {
  margin-left: 25px;
  margin-right: 20px;
}

.on-step {
  color: white !important;
  background-color: var(--main);
}

li.on-step span {
  color: white !important;
}

.tfk {
  color: var(--main);
}

.card-fix {
  padding-top: 1px;
  margin-top: 30px;
  width: 95%;
  height: 82%;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.t-cms {
  display: inline-block;
  margin: 20px 30px;
  font-size: 14px;
  color: #5C5E6A;
}

.main-cms {
  width: 100%;
  padding-left: 60px;
  border-top: 1px solid #D1D2D4;
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.kotak-mitra {
  width: 260px;
  height: 125px;
  background-color: white;
  border-radius: 8px;
  margin-right: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 64px rgba(170, 170, 170, 0.16);
  padding: 20px;
}

.kotak-mitra:hover {
  cursor: pointer;
  background-color: #00A1BE;
  color: white;
}

.ticon-icon {
  fill: white !important;
}

.consi {
  margin-bottom: 5px;
  width: 100%;
  display: flex;
}

.tisi {
  display: inline-block;
  font-size: 8px;
  width: 210px;
}

.ticon {
  display: flex;
  width: 30px;
  justify-content: center;
  align-items: flex-start;
}

.ticon-icon:first-child {
  transform: translateY(2px);
}

.ticon-icon:last-child {
  transform: translateY(-1px);
}

.cnp {
  padding: 5px 6px;
  color: white;
  background-color: #00A1BE;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 10px;
}

/* step 2 */

.dfc {
  display: flex !important;
  align-items: center;
}

.dfmc {
  display: flex !important;
  justify-content: space-between;
  padding: 20px !important;
}

.kirif, .kananf {
  width: 50%;
  padding: 0 10px;
}

.panel-fix {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #D1D2D4;
  padding: 10px;
  border-radius: 8px;
  position: relative;
}

.panel-fix h5 {
  color: var(--main);
  font-size: 11px;
}

.pkf {
  height: 140px;
}

.cab {
  width: 100%;
  display: inline-block;
  color: var(--main);
  margin-top: 40px;
  font-size: 12px;
  text-align: center;
}

.fganti {
  font-size: 11px;
  color: var(--main);
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: underline;
}

.fpage {
  margin-top: 5px;
  font-size: 10px;
}

.ntf {
  margin: 5px 0;
  font-size: 10px;
}

.fhp {
  height: 283px;
}

.radio {
  width: 10px;
  outline-color: #00A1BE;
}

.flni {
  margin-top: 9px;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.lrf {
  font-size: 9px;
  font-weight: 300;
  margin-left: 3px;
}

.pudf {
  display: flex;
}

.textrf {
  font-size: 11px;
}

.fref {
  display: flex;
  padding: 20 60px !important;
  border-color: #5C5E6A !important;
  justify-content: space-between !important;
  margin-bottom: 0px !important;
}

small {
  font-size: 8px;
  color: #9FAAA9;
  margin-bottom: 15px;
}
 
.mtfskp {
  display: block;
  margin-bottom: 10px;
}

.kcheck {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  
}

.kcheck span {
  margin-right: 20px;
}

.lsof {
  margin-right: 0 !important;
  margin-left: 3px;
  font-size: 6px;
  font-weight: 300;
}

.wof {
  width: 75px;
  margin-bottom: 5px;
}

.checks {
  width: 13px;
}

.llainnya {
  font-size: 9px;
  display: block;
  color: #9FAAA9;
  border-bottom: 1px solid #9FAAA9;
}

.btn-fix-s {
  font-size: 11px;
  padding: 10px !important;
  position: absolute;
  bottom: 15px;
  right: 20px;
}

.btn-fix-a {
  font-size: 11px;
  padding: 10px !important;
  position: absolute;
  bottom: 15px;
  right: 190px;
}

.lofsmac {
  position: relative !important;
}

.scalefix {
  transform: scale(0.67) translateY(-130px);
}


/* Landing page */

.jumbotron {
  width: 100%;
  height: 430px;
  background-image: url(../img/banner/001.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.btn-jumb {
  width: 200px;
  background-color: white;
  color: #00A1BE;
  border: none;
  padding: 10px;
  border-radius: 4px;
}