* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Inter', sans-serif;
}

:root {
  --main : rgba(0, 161, 190, 1);
}

.container {
  padding: 0 80px;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
}