* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #F5F5F5;
}

:root {
  --main : rgba(0, 161, 190, 1);
}

.container {
  padding: 0 80px;
}

.danger {
  color: rgba(253, 36, 85, 1);
}

.on-menu {
  color: var(--main);
  font-weight: bold;
}

/* .App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
} */